<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>
  
  <div class="row">
    <div data-controller="reveal" data-reveal-hidden-class="d-none">
      <div class="col-1">
        <button data-action="click->reveal#toggle" type="button" class="btn btn-outline-dark"><strong>Task:</strong></button>
      </div>
      <div class="col-11">
        <% project.tasks.each do |task| %>
          <div class="row">
            <div data-reveal-target="item" class="col-1 d-none">
              <%= task.description.truncate(10, omission: '...') %>
            </div>
            <div data-reveal-target="item" class="col-1 d-none">  
              <%= task.completed ? "True" : "False"%>
            </div>
            <div data-reveal-target="item" class="col-2 d-none">  
              <%= link_to task_path(task) do %>
                <i class="fa-solid fa-link bt"></i>
              <% end %>  
            </div>
          </div>   
        <% end %>  
      </div>
    </div>  
  </div>
</div>
