<%= form_with(model: [@student, @student.posts.build ]) do |f| %>
   <div class="mb-3">
        <%= f.label :title, class: "form-label" %>
        <%= f.text_field :title, class: "form-control" %>
   </div>
   
   <div class="mb-3">
        <%= f.label :content, class: "form-label" %>
        <%= f.rich_text_area :content, class: "form-control" %>
   </div>

   <div class="mb-3">   
        <%= f.label :Photos, class: "form-label" %>
        <%= f.file_field :images, multiple: true ,class: "form-control" %> 
   </div> 

   <div class="mb-3">
        <%= f.submit "create student post" %>
   </div>
<% end %>